.idea

/src/com_extengen/administrator/components/com_pluggen/generated
/src/com_extengen/administrator/components/com_pluggen/compilation_cache

/src/libraries/yepr/vendor/
/src/libraries/yepr/composer.lock